body {
	margin: 0;
	padding: 0;
	font-family: "Liberation Sans Serif", sans-serif;
	color: rgb(20,20,20);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgb(90, 90, 90);	
}

a:hover {
}

/* menu */
.nav {
	position: fixed;
	width: 19%;
	left: 2em;
	top: 2.5em;
	line-height: 1;
}

.nav__link {
	padding: 0.5em;
	background-color: rgb(220, 220, 220);
}

.nav__link:hover {
	cursor: pointer;
	background-color: rgb(200, 200, 200);
}

.nav__link__active {
	color: rgb(20, 20, 20);
}

.nav__link__sub-link {
	text-indent: 2em;
}

/* colonne centrale, contenu */
.main {
	width: 50%;
	margin: 0 auto;
	line-height: 1.6;
}

.main__paragragh {
	text-align: justify;
}

/* gallerie */
/* les img-row__img__little sont plus bas dans les medias, ne pas oublier de changer partout si changements */
.img-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.img-row__img {
	margin-bottom: 1em;
}

.img-row__img:hover {
	cursor: pointer;
}

.img-row__img__big {
	width: 100%;
}

/* video */
iframe {
	width:100%;
}

footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 12em;
	line-height: 2;
	background-color: rgb(200, 200, 200);
}

.footer__content {
	margin-top: 2em;
	margin-right: 10%
}

/* diaporama */
.modal__background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
	position: fixed;
	width: 100%;
	height: 98%;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	transform: translate(-50%, -50%);
}

.modal__content__img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: 100%;
}

.modal__content__button {
	position: fixed;
	top: 10px;
	right: 10px;
}

/* MEDIA PART */

/* grand écran */
@media (min-width: 834px) {
	.img-row__img__little {
		width: 30%;
	}

	.modal__content__pane {
		display: flex;
		align-items: center;
		max-width: 100%;
		max-height: 100%;
		width: 15%;
		height: 100%;
	}

	.modal__content__pane__left {
		justify-content: flex-end;
	}

	.modal__content__pane__right {
		justify-content: flex-start;
	}

	.modal__content__pane__arrow {
		border: solid rgb(255, 255, 255);
		border-width: 0 1em 1em 0;
		padding: 2em;
		display: inline-block;
		transform: rotate(135deg);
	}

	.modal__content__pane__arrow:hover {
		cursor: pointer;
	}

	.modal__content__pane__arrow__left {
		transform: rotate(135deg);
	}

	.modal__content__pane__arrow__right {
		transform: rotate(-45deg);
	}
}

/* appareil écran moyen (ordi/tablettes)*/
@media (max-width: 833px) {
	.img-row__img__little {
		width: 45%;
	}

	.nav__menu {
		display: none;
		width: 400%;
		height: 80%;
	}

	.burger {
		padding: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 2.2em;
		height: 1.8em;
		background-color: rgb(220, 220, 220);
	}

	.burger:hover {
		cursor: pointer;
	}

	.burger__line {
		width: 100%;
		height: 0.3em;
		background-color: rgb(90, 90, 90);
	}
}

@media (max-width: 723px) and (min-width: 385) {

}

/* téléphone */
@media (max-width: 480px) {
	.img-row__img__little {
		width: 90%;
	}
	.modal__content__pane {
		display: none;
	}
}