body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	font-family: "Liberation Sans Serif", sans-serif;
	font-size: 0.9em;
	background-image: url(images/background-02.JPG);
	background-repeat:no-repeat;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav a {
	text-decoration: none;
	color: rgb(20, 20, 20);
}


/* menu */
.nav {
	position: fixed;
	width: 15%;
	left: 2em;
	top: 2em;
	padding: 1em;
	line-height: 1;
	/*background-color: white;*/
}

.nav__link {
	padding: 0.5em;
}

.nav__link:hover {
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0.85);
}

.nav__link__active {
	color: rgb(0, 0, 0);
	font-weight:bold;

}

.nav__link__sub-link {
	text-indent: 2em;
}

/* colonne centrale, contenu */
.main {
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 2em;
	line-height: 1.6;
	background-color: rgba(255,255,255,0.85);
}

.main__paragragh {
	text-align: justify;
}

h1 {
font-weight: normal;
}
h2 {
font-weight: normal;
}
.main a, footer a {
color: red;
}



/* gallerie */
/* les img-row__img__little sont plus bas dans les medias, ne pas oublier de changer partout si changements */
.img-row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.img-row__container {
	align-self: center;
}

.img-row__img {
	margin-bottom: 1em;
}

.img-row__img:hover {
	cursor: pointer;
}

.img-row__img__big {
	max-width: 100%;
	object-fit: contain;
}

/* video */
iframe {
	width:100%;
}

footer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 10em;
	line-height: 2;
	background-color: rgb(200, 200, 200);
	font-size: 0.8em;
}

.footer__content {
	margin-top: 2em;
	margin-right: 10%
}

/* diaporama */
.modal__background {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
}

.modal__content {
	position: fixed;
	width: 98%;
	height: 98%;
	top: 50%;
	left: 50%;
	display: flex;
	justify-content: center;
	transform: translate(-50%, -50%);
}

.modal__content__img {
	max-width: 98%;
	object-fit: contain;
}

.modal__content__pane {
	display: flex;
	align-items: center;
	max-width: 100%;
	max-height: 100%;
	width: 15%;
	height: 100%;
}


/* MEDIA PART */

/* grand écran */
@media (min-width: 834px) {

	.main {
		width: 45%;
		margin-left: 25%;
	}

	.img-row__container {
		width: 30%;
	}

	.img-row__img__little {
		width: 100%;
	}
	.modal__content__pane {
		display: flex;
		align-items: center;
		max-width: 100%;
		max-height: 100%;
		width: 15%;
		height: 100%;
	}

	.modal__content__pane__left {
		justify-content: flex-end;
	}

	.modal__content__pane__right {
		justify-content: flex-start;
	}

	.modal__content__pane__arrow {
		border: solid rgb(255, 255, 255);
		border-width: 0 1em 1em 0;
		padding: 2em;
		display: inline-block;
		transform: rotate(135deg);
	}

	.modal__content__pane__arrow:hover {
		cursor: pointer;
	}

	.modal__content__pane__arrow__left {
		transform: rotate(135deg);
	}

	.modal__content__pane__arrow__right {
		transform: rotate(-45deg);
	}
}

/* écrans moyens (ordis/tablettes)*/
/* sliding handled by javascript */
@media (min-width: 581px) and (max-width: 833px) {

	.main {
		width: 60%;
		margin-left: 15%;
	}

	.nav__menu {
		display: none;
		width: 400%;
		height: 80%;
	}

	.img-row__container {
		width: 40%;
	}

	.img-row__img__little {
		width: 100%;
	}


	.burger {
		width: 100%;
		padding: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 2.2em;
		height: 1.8em;
		background-color: rgb(220, 220, 220);
	}

	.burger:hover {
		cursor: pointer;
	  box-shadow: 0px 0px 0px 3px;
	}

	.burger__line {
		width: 100%;
		height: 0.3em;
		background-color: rgb(90, 90, 90);
	}

}

/* téléphone */
@media (max-width: 580px) {

	.main {
		width: 65%;
		margin-left: 10%;
	}

	.nav {
		left: auto;
	}

	.nav__menu {
		display: none;
		width: 400%;
		height: 80%;
	}

	.img-row__container {
		width: 100%;
	}
	.img-row__img__little {
		width: 90%;
	}

	.burger {
		height: 100%;
		width: 100%;
		padding: 12px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 2.2em;
		height: 1.8em;
		background-color: rgb(220, 220, 220);
	}

	.burger:hover {
		cursor: pointer;
	  box-shadow: 0px 0px 0px 3px;
	}

	.burger__line {
		width: 100%;
		height: 0.3em;
		background-color: rgb(90, 90, 90);
	}

	.modal__content__pane {
		display: none;
	}
}